/vendor
/node_modules
.env
.env.backup
.phpunit.result.cache
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/private/id-proofs/*
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
!/storage/app/private/id-proofs/.gitkeep
/public/hot
/public/storage
Homestead.json
Homestead.yaml
